* {
    margin: 0;
    padding: 0;
    font-family: Candara, Calibri, Trebuchet, Serif;
};

/**
 * Demo Styles
 */

 html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html {
    min-height: 100%;
  }
  
  body {
    margin: 64px auto;
    max-width: 640px;
    width: 94%;
    text-align: center;
  }
  
/* Sun Circle */
  
  .circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    color: #F8F8F8;
    text-align: center;
  }
  
  .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #F7C873;
    content: "";
    z-index: 999;
    box-shadow: 10px 10px 20px  #FFE69A inset, 20px 10px 10px  #FFE69A inset;
  }
  
  .circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
  }

  .circle__content:hover {
    cursor: pointer;
  }
  
  @media (min-width: 480px) {
    .circle__content {
      font-size: 2em;
    }
  }
  
  @media (min-width: 768px) {
    .circle__content {
      font-size: 4em;
    }
  };

/* Rays */
  .rays {
    display: block;
    text-align: center;
    position: relative;
    margin: 100px;
    
    span {
      width: 70px;
      height: 225px;
      position: absolute;
      top: 0px;
      border-radius: 5px;
      border-top: solid 2px rgba(0, 0, 0, .2);
      border-left: solid 3px rgba(255, 255, 255, .2);
      border-bottom: solid 3px rgba(0, 0, 0, .2);
      text-align: center;
      box-sizing: border-box;
      transform-origin: center 90%;
      display: inline-block;
      backface-visibility: hidden;
      margin-left: -35px;
      transform: rotate(0deg);
    };
    
    span:before {
      width: 16px;
      height: 16px;
      content: "";
      background-color: white;
      display: inline-block;
      border-radius: 8px;
      bottom: 10px;
      position: absolute;
      margin-left: -8px;
    };
    

/* .rays {
    display: block;
    text-align: center;
    position: relative;
    margin: 100px;
    background: #FFE69A;
}; */

/* span {
    width: 70px;
    height: 225px;
    position: absolute;
    top: 0px;
    border-radius: 0;
    background: linear-gradient(#FFD24C, #FFE69A);
    text-align: center;
    box-sizing: border-box;
    transform-origin: center 90%;
    display: inline-block;
    backface-visibility: hidden;
    margin-left: -35px;
    transform: rotate(0deg);
    z-index: 995;
}; */


/* .navbar:before {
    visibility: hidden;
}

.navbar:after {
    visibility: visible;
}

#navbar__container {

}

.navbar__menu {

}

.navbar__item {

}
 */